@import "tailwindcss";

@theme {
  --color-kaktus-green: #0c5331;
  --color-kaktus-green-dark: #053d22;
  --color-bg-color:rgb(253,251,226)
}


body,
a {
  font-family: "Work Sans", sans-serif; /* tüm site default */
}

a{
  text-decoration: none;
}

h2,
h3,
h4,
h1,
span {
  font-family: "Martel Serif", serif;
}

@layer components {
  section {
    @apply container mx-auto px-4;
    max-width: 1200px; /* 1200px'e kadar genişlesin */
  }
}

.slick-dots.slick-thumb {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  width: fit-content;
  height: 2rem;
  position: absolute;
  bottom: 40px;
  left: 90%;
  transform: translateX(-50%);
}

.slick-dots.slick-thumb li {
  width: 6px;
  height: 6px;
  margin: 0 3px;
  border-radius: 999px;
  transition: all 0.5s ease-in-out;
  will-change: width;
  border: 1px solid white;
}

.slick-dots.slick-thumb li.slick-active {
  border: 1px solid white;
  width: 24px;
}

/* Mobil görünüm için responsive düzenleme */
@media (max-width: 640px) {
  .slick-dots.slick-thumb {
    left: 85%;
    transform: translateX(-50%);
    bottom: 20px;
  }
}


/* --------------------------------------------- */

.image-slick-dots.image-slick-thumb {
  display: flex;
  justify-content: center;
  width: 10rem;
  height: 10rem;
  position: absolute;
  bottom: 0;
  left: 50%;
  background-color: red;
}

.image-slick-dots.image-slick-thumb li {
  width: 6px;
  height: 6px;
  margin: 0 3px;
  border-radius: 999px;
  transition: all 0.5s ease-in-out;
  will-change: width;
  border: 1px solid white;
}

.image-slick-dots.image-slick-thumb li.slick-active {
  border: 1px solid white;
  width: 24px;
}

